<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/WM6k5jwbMz8+c1l7g4zj3ylKpTK4g8UayJU1WE" crossorigin="anonymous">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <style>
        .navbar-brand{
            color: #fff;
            font-size: 2rem;
        }
        .navbar-nav .nav-link{
            color: #fff;
            font-size: 1.2rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .navbar-nav .nav-link:hover{
            color: #f3f3f3;
        }
        .navbar-toggler{
            border: none;
        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

        .btn-default:hover,
        .btn-default:focus,
        .btn-default:active,
        .btn-default.active,
        .open .dropdown-toggle.btn-default {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mon site</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_person_index') }}">Liste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_person_new') }}">Ajouter une personne</a>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0" method="POST" action="{{ path('recherchePage') }}">
                            <input class="form-control mr-sm-2" type="text" name="nomRechercher" placeholder="Rechercher une personne" aria-label="Search">
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
                            
                        </form>
            
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% block body %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>